* {
    text-align: center;
    font-family: Verdana,sans-serif;
}

h1 {
    background-color: cornflowerblue;
    color: floralwhite;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}